# NPM
node_modules/
.eslintcache
yarn-error.log

# Output
dist/

# Misc
.DS_Store

# TypeScript
*.tsbuildinfo

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions